{
    "OwnerID" : ,
    "Log Channel":,
    "Bot Online Channel":, 
    "Guild" :, 
    "Token" : ,
    "Default Start Location" :,
    "Money to Create Lonca": ,
    "Warning Role" : ,
    "SignRole": ,
    "NotSignRole":,
    "SizeOFloncaname":, 
    "Edge": ,
    "Classes":,
    "npc location":, 
    "Total Selected Item" :,
    "need level to travel": ,
    "Database Name":,
    "MongoDb Token": 
    
}