{
    "OwnerID" : ,
    "Log Channel":,
    "Bot Online Channel": ,
    "Guild" : ,
    "Token" : ,
    "Reset Rp Point Day": 7,
    "Default Start Location" : ,
    "Money to Create Lonca": 30000,
    "Warning Role" : ,
    "SignRole": ,
    "NotSignRole":,
    "Rp Giveaway": 2000,
    "SizeOFloncaname": 20,
    "Edge":10,
    "Classes": ["Barbarian","Wizard","Fighter","Ranger"],
    "npc location": ,
    "Total Selected Item" : 10,
    "need level to travel": 10,
    "Starvation Decrease": 10,
    "Database Name":"",
    "MongoDb Token": ""
}